body{
    color: rgb(2, 62, 213);
    background: linear-gradient( to right, rgb(250, 250, 250), rgb(137, 202, 224)) ;
}
h1{
    margin:  10px; /* separa de otros elementosentre si, fuera*/
    padding:  30px; /* dentro, para botones, tarjetas, cajas*/
    text-align: center; /* alinea el texto. */
}

p{
    margin: 25px;
    padding: 10px;
}