body{
    color: rgb(2, 62, 213);
    background: linear-gradient( to right, rgb(250, 250, 250), rgb(137, 202, 224)) ;
}
h1{
    margin: 2 75px 100px;
    padding: 25px 50px 75px 100px
}

p{
    margin: 25px 50px;
    padding: 10px 20px;
}