/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #5b0505;
}

/* Ejercicio 4 */
.flex-container{
    display: flex;
}
.flex-1{
    flex: 1 1 auto;
    flex: 2 1 150px;
    flex: 1 0 100px;
    flex: 0 1 200px;
}