/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Ejercicio1 */

div{
    width: 250px;
    height: 150px;
    padding: 15px;
    border: 5px, solid red;
    margin:  20px;
}

/* Ejercicio2 */

.caja-1{
    padding: 30px;
    background-color: lightblue;
}
.caja-2{
    margin : 30px;
    background-color: lightgreen;
}

/* Ejercicio3 */

.borde-personalizado{
    border-top: 10xp solid blue;
    border-right: 5xp dashed red;
    border-bottom: 8px dotted green;
    border-left: 3px double black;
    padding: 20px; 
}
/*Ejercicio 4 */

.caja-em-rem{
/* Base para los cálculos 'em' dentro de este contenedor */
    font-size: 16px; 
    
    /* 2em aquí es relativo al font-size del propio elemento (16px) */
    padding: 2em; 
    
    border: 2px solid #333; /* Para visualizar el padding */
    background-color: #f0f0f0;
}

.caja-em-rem h1 {
    /* 2rem es relativo al elemento raíz <html>, NO al contenedor padre */
    font-size: 2rem; 
}

.caja-em-rem p {
    /* 1.5em es relativo al font-size del padre (.caja-em-rem) */
    font-size: 1.5em;
}

.caja-fluid {
            /* 1. Dimensiones relativas al Viewport */
            width: 50vw;  /* 50% del ancho de la ventana */
            height: 30vh; /* 30% del alto de la ventana */

            /* 2. Apariencia */
            background-color: lightcoral;

            /* 3. Centrado del DIV (respecto a la ventana) */
            margin: auto; /* Gracias al flex del body, esto centra horizontal y verticalmente */

            /* 4. Centra el CONTENIDO (texto interno) */
            display: flex;
            justify-content: center; /* Alinea en  horizontal del texto */
            align-items: center;     /* Alinea en vertical del texto */

            /* Estilos extra de texto */
            font-family: sans-serif;
            font-size: 1.5rem;
            color: white;
            text-align: center;
        }